<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link th:href="@{/assets/fonts/fontawesome-free-6.4.0-web/css/all.min.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="app">
    <header class="header">
        <div class="grid wide">
            <nav class="navbar hide-on-mobile-tablet right">
                <ul class="navbar-list navbar-list__right ">
                    <li class="navbar-item navbar-user">
                        <img src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.6435-9/117354824_792500984821445_4185575291286150690_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=be3454&_nc_eui2=AeHFPE54Jnb_R-6bpEie8CjtHdy-X2qivg8d3L5faqK-D30oEww2QkjtdwkWUJX2tYPVrFfmWNQyGnC4H1eZZQUR&_nc_ohc=gQ5MZtDWGgYAX_RTM6f&_nc_oc=AQmpdZkWdUejwEVpJI3C9doO-bGuhU_927MQvrqI0GBn5aFo2n0BNlJC5mf8ZPUVdkhhQzOheux_-W6lxVAXKC8h&_nc_ht=scontent.fsgn5-2.fna&oh=00_AfDs74MiZMegTSaUawI2URnDmiT-dfTpIKXoi2gCrqYvyQ&oe=658BC253" alt=User class="navbar-user-avatar">
                        <span class="navbar-user-name" th:text="${adminSession.username}"></span>

                            <ul class="navbar-user-menu navbar-user-menu--employee">
                                <li class="navbar-user-item">
                                    <a href="#">Tài khoản của tôi</a>
                                </li>
                                <li class="navbar-user-item">
                                    <a th:href="@{/admin/products}">Quản lý sản phẩm</a>
                                </li>
                                <li class="navbar-user-item">
                                    <a th:href="@{/admin/order-statistics}">Thống kê đơn hàng</a>
                                </li>
                                <li class="navbar-user-item">
                                    <a th:href="@{/admin/product-price-chart}">Vẽ biểu đồ giá</a>
                                </li>
                                <li class="navbar-user-item navbar-user-item--separate navbar-user-item__logout">
                                    <a th:href="@{/admin/logout}">Đăng xuất</a>
                                </li>
                            </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </header>

    <div class="app__container">
        <div class="grid wide">
            <div class="row sm-gutter app__content">
                <div class="col l-3 m-0 c-0">
                </div>

                <div class="col l-6 m-12 c-12">
                    <div class="auth-form__container auth-form--update">
                        <div class="auth-form__header auth-form__header--update">
                            <h3 class="auth-form__heading">Thông tin tài khoản</h3>
                        </div>

                        <form class="auth-form__form" th:object="${employee}" th:action="@{/admin/update/{id}(id = ${employee.id})}" method="post">
                            <div class="auth-form__group form-group">
                                <span class="auth-form__label">Name:</span>
                                <input type="text" class="auth-form__input" name="user-name" required placeholder="Tên của bạn" th:field="*{fullname}">
                            </div>
                            <div class="auth-form__group form-group">
                                <span class="auth-form__label">Email:</span>
                                <input type="email" class="auth-form__input" name="user-email" required placeholder="Email của bạn" th:field="*{email}">
                            </div>
                            <div class="auth-form__group form-group">
                                <span class="auth-form__label">Phone:</span>
                                <input type="text" class="auth-form__input" name="user-phone" required placeholder="Số điện thoại của bạn" th:field="*{phone}">
                            </div>
                            <div class="auth-form__group form-group">
                                <span class="auth-form__label">Address:</span>
                                <input type="text" class="auth-form__input" name="user-address" required placeholder="Địa chỉ của bạn" th:field="*{address}">
                            </div>
                            <div class="auth-form__controls">
                                <button type="submit" class="btn btn--primary btn--update-customer">CẬP NHẬT</button>
                            </div>
                        </form>


                    </div>
                </div>
                <div class="col l-3 m-0 c-0">

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="grid wide footer__content">
            <div class="row">
                <div class="col l-2-4 m-4 c-6">
                    <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">Shopee Mall</a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-4 c-6">
                    <h3 class="footer__heading">Giới thiệu</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">Điều khoản</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-4 c-6">
                    <h3 class="footer__heading">Danh mục</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">Điều khoản</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-4 c-6">
                    <h3 class="footer__heading">Theo dõi</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-facebook"></i>
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-instagram"></i>
                                Instagram
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-linkedin"></i>
                                Linkedin
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-8 c-12">
                    <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                    <div class="footer__download">
                        <img th:src="@{/assets/img/qr_code.png}" alt="Download QR" class="footer__download-qr">
                        <div class="footer__download-apps">
                            <a href="" class="footer__download-app-link">
                                <img th:src="@{/assets/img/google_play.png}" alt="Download Google Play" class="footer__download-app-img">
                            </a>

                            <a href="" class="footer__download-app-link">
                                <img th:src="@{/assets/img/app_store.png}" alt="Download App Store" class="footer__download-app-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="grid wide">
                <p class="footer__text">© 2023 - Bản quyền thuộc về Công ty TNHH Shopee</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>